<%- include('./partials/head')%>
<link rel="stylesheet" href="/stylesheets/criarPerfil.css">
<script src="/js/darkMode.js"></script>
</head>
<body class="container">
    <main class="main">
        <div class="header">
          <p>Bem vindo <span><%=name%></span>! Hora de criar um perfil:</p>
          <div class="logout">
              <a href="/manimal/profile/logout" title="logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="forms">
          <div>
            <form action="" class="form" method="POST" enctype="multipart/form-data">
            <div class="fields">
              <label for="photo" title="Inserir foto"><i class="fa fa-user-plus" aria-hidden="true"></i></label>
              <input class="form-control" id="photo" type="file" name="photo" >
            </div>
            <div class="fields">
              <input type="text" name="pet_name" placeholder="Nome do Pet">
            </div>
            <div class="fields">
              <input type="text" name="nickname" placeholder="Apelido">
            </div>
            <div class="fields">
              <select name="kind_id">
                <option value="" selected disabled hidden>Espécie</option>
                <% kinds.forEach(kind => { %>
                  <option id="kind" value="<%= kind.id %>">
                  <%= kind.kind %>
                  </option>
                <% }) %>
              </select>
            </div>
            <div class="fields">
              <select name="breed_id">
                <option value="" selected disabled hidden>Raça</option>
                <% breeds.forEach(breed => { %>
                  <option id="breed" value="<%= breed.id %>">
                    <%= breed.name %>
                  </option>
                <% }) %>
            </select>
            </div>
            <div class="fields">
              <select name="genre">
                <option value="" selected disabled hidden>Insira o sexo do pet</option>
                <option value="Macho">Macho</option>
                <option value="Fêmea">Fêmea</option>
              </select>
            </div>
            <div class="fields">
              <input type="date" name="birthday" placeholder="Insira a data de aniversário do pet">
            </div>
            <div class="fields">
              <input type="text" name="local" placeholder="Cidade onde reside">
            </div>
            <div class="textarea">
              <textarea placeholder="Agora crie uma Bio bem legal para seu pet!" name="bio" cols="50" rows="6"></textarea>
            </div>
            <div class="submit">
              <input type="submit" name="submit" value="Prosseguir">
            </div>
            </form>
          </div>
        </div>
        <div class="profile">
            <p>Voltar a tela de <a href="/manimal/profile/select">Seleção de perfil.</a></p>
        </div>
    </main>
</body>
</html>