<%- include('./partials/head')%>
<link rel="stylesheet" href="/stylesheets/editarPerfil.css">
<script src="/js/darkMode.js"></script>
</head>
<body class="container-lg">
    <main class="main">
        <div class="header">
          <p>Bem vindo <span><%=name%></span>! Edite o perfil:</p>
          <div class="logout">
              <a href="/manimal/profile/logout" title="logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="forms">
          <div>
            <form class="form" action="/manimal/profile/edit/<%= profile.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="fields">
              <label for="photo" title="Alterar foto"><img src="<%=profile.photo_profile_path%>" alt="Foto perfil"></label>
              <input class="form-control" id="photo" type="file" name="photo" >
            </div>
            <div class="fields">
              <input type="text" name="pet_name" placeholder="<%=profile.pet_name%>">
            </div>
            <div class="fields">
              <input type="text" name="nickname" placeholder="<%=profile.nickname%>">
            </div>
            <div class="fields">
              <select name="kind_id">
                <option value="" selected disabled hidden>Espécie</option>
                <% kinds.forEach(kind => { %>
                  <option id="kind" value="<%= kind.id %>">
                  <%= kind.kind %>
                  </option>
                <% }) %>
              </select>
            </div>
            <div class="fields">
              <select name="breed_id">
                <option value="" selected disabled hidden>Raça</option>
                <% breeds.forEach(breed => { %>
                  <option id="breed" value="<%= breed.id %>">
                    <%= breed.name %>
                  </option>
                <% }) %>
            </select>
            </div>
            <div class="fields">
              <select name="genre">
                <option value="" selected disabled hidden><%=profile.genre%></option>
                <option value="Macho">Macho</option>
                <option value="Fêmea">Fêmea</option>
              </select>
            </div>
            <div class="fields">
              <input type="date" name="birthday" placeholder="<%=profile.bithday%>">
            </div>
            <div class="fields">
              <input type="text" name="local" placeholder="<%=profile.local%>">
            </div>
            <div class="textarea">
              <textarea placeholder="<%=profile.bio%>" name="bio" cols="50" rows="6"></textarea>
            </div>
            <div class="submit">
              <input type="submit" name="submit" value="Prosseguir">
            </div>
            </form>
          </div>
        </div>
        <div class="profile">
            <p>Voltar a tela de <a href="/manimal/profile/select">Seleção de perfil.</a></p>
        </div>
    </main>
</body>
</html>