<%- include('./partials/head')%>
<link rel="stylesheet" href="/stylesheets/editarPerfil.css">
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script defer src="/js/darkMode.js"></script>
<script defer src="/js/perfil.js"></script>
</head>
<body class="container-lg">
    <main class="main">
        <div class="header">
          <p>Bem vindo <span><%=name%></span>! Edite o perfil:</p>
          <div class="logout">
              <a href="/manimal/profile/logout" title="logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="forms">
          <div>
            <form class="form" action="/manimal/profile/edit/<%= profile.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="fields">
              <label for="photo" title="Alterar foto"><img src="<%=profile.photo_profile_path%>" alt="Foto perfil"></label>
              <span class="error-message"></span>
              <input class="form-control" id="photo" type="file" name="photo" >
            </div>
            <div class="fields">
              <input type="text" name="pet_name" value="<%=profile.pet_name%>">
              <span class="error-message"></span>
            </div>
            <div class="fields">
              <input type="text" name="nickname" value="<%=profile.nickname%>">
              <span class="error-message"></span>
            </div>
            <div class="fields">
              <select class="kind" name="kind_id">
                <option value="<%=kind.id%>kind.id" selected disabled hidden><%=kind.kind%></option>
              </select>
              <span class="error-message"></span>
            </div>
            <div class="fields">
              <select class="breed" name="breed_id">
                <% if(profile.breed_id === null) {%>
                  <option value="" selected disabled hidden>Raça</option>
                <% } else { %>
                  <option value="<%= breed.id %>" selected disabled hidden><%= breed.name %></option>
                <% } %>
                <% breeds.forEach(breed => { %>
                  <option id="breed" value="<%= breed.id %>">
                    <%= breed.name %>
                  </option>
                <% }) %>
              </select>
              <span class="error-message"></span>
            </div>
            <div class="fields">
              <select class="genre" name="genre">
                <option value="<%=profile.genre%>" selected disabled><%=profile.genre%></option>
                <option value="Macho">Macho</option>
                <option value="Fêmea">Fêmea</option>
              </select>
              <span class="error-message"></span>
            </div>
            <div class="fields">
              <label class="birthday" for="birthday">Data de nascimento:</label>
              <input type="date" name="birthday" value="<%=profile.birthday%>">
              <span class="error-message"></span>
            </div>
            <div class="fields">
              <input type="text" name="local" value="<%=profile.local%>">
              <span class="error-message"></span>
            </div>
            <div class="textarea">
              <% if(profile.bio === null) { %>
                <textarea name="bio" cols="50" rows="6" maxlength="255" placeholder="Crie uma bio bem legal para seu pet!"></textarea>
              <% } else { %>
                <textarea name="bio" cols="50" rows="6" maxlength="255"><%=profile.bio%></textarea>
              <% } %>
              <% if(profile.bio === null) { %>
                <span class="char-count">Restam 255 caracteres</span>                  
              <% } else { %>
                <span class="char-count">Restam <%=255 - profile.bio.length%> caracteres</span>
              <% } %>                
              <span class="error-message"></span>
            </div>
            <div class="submit">
              <input type="submit" name="submit" value="Prosseguir">
            </div>
            </form>
          </div>
        </div>
        <div class="profile">
            <p>Voltar a tela de <a href="/manimal/profile/select">Seleção de perfil.</a></p>
        </div>
    </main>
</body>
</html>