<%- include('./partials/head')%>
<link rel="stylesheet" href="/stylesheets/editarPerfil.css">
</head>
<body class=".body">
    <div class="container">
        <%- include('./partials/somenteHeader')%>
    <div class="container__total">
    <section class="section__info">
        <div class="info__foto">
            <img src=<%=searchProfile.photo_profile_path%> alt="" class="info__foto__perfil">
        </div>
        <div class="info__wrapper">
        <div class="box__nome__aniversario">
            <span class="info"><%=searchProfile.pet_name%></span>
            <span class="info"><%=searchProfile.birthday%></span>
        </div>
        <div class="box__especie__raca">
            <span class="info"><%=searchProfile.breed_id%></span>
            <span class="info"><%=searchProfile.breed_id%></span>
        </div>
     
        </div>
        
    </section>
    <div class="info__loc">
        <i class="fa fa-map-marker info__localizacao" aria-hidden="true"><span class="info__localizacao__span"><%=searchProfile.local%></span></i>
    </div>
    <form action="" class="formulario" method="POST">
        <label for="petName" class="label__form" >Nome do pet</label>
        <input type="text" class="form__text" name="Name" id="petName" value='<%=searchProfile.pet_name%>' >
        <label for="subtitulo" class="label__form">Subtítulo</label>
        <input type="text" class="form__text" name="subtitulo" id="subtitulo" value='<%=searchProfile.nickname%>'>
        <label for="genero" class="label__form">Gênero</label>
        <input type="text" class="form__text" name="genero" id="genero" value='<%=searchProfile.genre%>'>
        <label for="bio" class="label__form" >Biografia</label>
        <textarea name="" id="" cols="30" rows="10 " class="form__textarea" nome="bio" id="bio" ><%=searchProfile.bio%></textarea>
        <button type="submit" class="form__btn">Enviar</button>
    </form>
    </div>
    <script src="/js/darkMode.js"></script>
</div>
</body>