<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/disposicaoEventos.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Eventos Disponíveis</title>
  </head>
  <body>
    <%- include('./partials/headerEventos')%>
    <div class="container-lg">
      <main class="main">
        <div class="info__foto">
          <img
            src="<%= profile.photo_profile_path %>"
            alt=""
            class="foto__perfil"
          />
        </div>
        <div class="info__wrapper">
          <div class="box__nome__aniversario">
            <span class="info"><%= profile.pet_name %></span>
          </div>
        </div>
        <div class="eventos">
          <a href="" class="evento-escolhido">Eventos Disponíveis</a>
          <a
            href="/manimal/event/list/:${profile.profile_id}"
            class="eventos-outros"
            >Eventos Criados</a
          >
        </div>
        <div class="mural">
          <% todosEventos.forEach(eventos => { %>
          <div class="album-evento">
            <img
              src="<%= eventos.photo_events_path %>"
              alt=""
              class="album__capa"
            />
            <ul class="post__lista_icons">
              <li><i class="fa fa-paw evento_icon" aria-hidden="true"></i></li>
              <li>
                <i class="fa fa-comment evento_icon" aria-hidden="true"></i>
              </li>
              <li>
                <i
                  class="fa fa-paper-plane-o evento_icon"
                  aria-hidden="true"
                ></i>
              </li>
            </ul>
            <span class="album__nome"><%= eventos.name %></span>
            <section class="descricao-eventos">
              <div class="info_eventos">
                <p><span>Data:</span> <%= eventos.beginning_date %></p>
                <p><span>Local:</span><%= eventos.local %></p>
                <p><span>Descrição:</span><%= eventos.description %></p>
              </div>
              <button type="submit" class="principal__button">Convidar</button>
            </section>
          </div>
          <% }) %>
        </div>
      </main>
    </div>
    <script src="/js/darkMode.js"></script>
  </body>
</html>
