<%- include('./partials/header')%>
<main class="main">
  <div class="perfil__wrapper">
    <div class="foto__perfil"></div>
    <div class="descricao__wrapper">
      <h4 class="perfi__nome">Polenta</h4>
      <span class="perfil__localizacao">São Paulo</span>
    </div>
  </div>
  <section class="principal">
    <i class="fa fa-plus-circle new" aria-hidden="true"></i>
    <div class="post__and__sugestoes">
      <div class="postagens">
          <%- include('./partials/post')%>
          <%- include('./partials/post')%>
          <%- include('./partials/post')%>
          <%- include('./partials/post')%>
          <%- include('./partials/post')%>
      </div>
      <div class="sugestoes">
        <h3 class="sugestoes__titulo">Segestão de Amigos</h3>
        <%- include('./partials/sugestoes')%>
        <%- include('./partials/sugestoes')%>
        <%- include('./partials/sugestoes')%>
        <%- include('./partials/sugestoes')%>
        <%- include('./partials/sugestoes')%>
      </div>
    </div>
 
   
  

    
  </section>
</main>
</div>
<script src="/js/darkMode.js"></script>
</body>
</html>
