<%- include('./partials/header')%>
<main class="main">
  <div class="perfil__wrapper">
    <a href="/manimal/perfilUser/<%=searchProfile.id%>"><div class="foto__perfil"><img class="foto__perfil" src="<%=searchProfile.photo_profile_path%>" alt=""></div></a>
    <div class="descricao__wrapper">
      <h4 class="perfi__nome"><%=searchProfile.pet_name%></h4>
      <span class="perfil__localizacao"><%=searchProfile.local%></span>
    </div>
  </div>
  <section class="principal">
    <div class ='novo__post'> 
      <form class="form" action="/manimal/posts/" method="POST"  enctype="multipart/form-data">
        <div>
            <textarea class="textarea" placeholder="Como está o seu dia?" name="post" id="post" cols="180" rows="2"></textarea>
        </div>
        <div>
          <label for="photo"><i class="fa fa-camera img_fotografia" aria-hidden="true"></i></label>
          <input class="form-control btn btn-success" id="photo" type="file" name="photo" >
        </div>
       <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </form>
    </div>
    <div class="post__and__sugestoes">
      <div class="postagens">
        <div class="post__wrapper">
          <% posts.forEach(post=>{ %>
          <div class="post__foto">
            <img class="post__foto" src="<%=post.photo_post_path%>" alt="">
          </div>
          <ul class="post__lista_icons">
              <li><i class="fa fa-paw menu__icon" aria-hidden="true"></i></li>
              <li><i class="fa fa-comment menu__icon" aria-hidden="true"></i></li>
              <li><i class="fa fa-paper-plane-o menu__icon" aria-hidden="true"></i></li>
          </ul>
          <div class="post__legenda">
              <p><%=post.post%></p>
          </div>
          <% }) %>
        </div>
      </div>
      <div class="sugestoes">
        <h3 class="sugestoes__titulo">Segestão de Amigos</h3>
        <%- include('./partials/sugestoes')%>
        <%- include('./partials/sugestoes')%>
        <%- include('./partials/sugestoes')%>
        <%- include('./partials/sugestoes')%>
        <%- include('./partials/sugestoes')%>
      </div>
    </div>
    
  </section>
  
</main>
</div>
<script src="/js/darkMode.js"></script>
</body>
</html>
