<%- include('./partials/head')%>
<title><%= title %></title>
<link rel="stylesheet" href="/stylesheets/selecionarPerfil.css">
<script src="/js/darkMode.js"></script>
</head>
<body class="container">
    <main class="main">
        <div class="header">
            <p>Bem vindo <span><%=name%></span>! Selecione um perfil:</p>
            <div class="logout">
                <a href="/manimal/profile/logout" title="logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="profile">
            <% profiles.forEach(profile => { %>
                <div class="profilePicture">
                    <a href="/manimal/inicial/<%=profile.id%>" title="<%=profile.pet_name%>"><img src="<%=profile.photo_profile_path%>" alt="Foto perfil"></a>
                    <h2><%=profile.pet_name%></h2>
                    <div class="btn">
                        <a href="/manimal/profile/edit/<%=profile.id%>"><button type="button">Editar</button></a>
                        <form action="/manimal/profile/select/<%= profile.id %>?_method=DELETE" method="POST">
                            <button type="submit">Deletar</button>
                        </form>
                    </div>
                </div>
            <% }) %>

        </div>
        <div class="redirect">
            <a href="/manimal/profile/create"><button type="button">Criar novo</button></a>
        </div>               
    </main>
</body>
</html>